:root {
    --white: #fff;
    --darkgray: #1C1A1A;
    --orange: #d1001c;
}

body {
    color: var(--white);
}


.question-container {
    margin: auto;
    margin-bottom: 10px;
    width: 75%;
    padding: 5px;
    display: flex;
    background: var(--orange);
}

.question-container:hover {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    transform: scale(1.2);
}

#question {
    margin-top: 100px;
    font-size: 50px;
    text-align: center;
}

.question-letter {
    background: var(--orange);
    padding: 10px;
    color: var(--white);
}

.question-choice {
    background: var(--orange);
    padding: 10px;
    width: 100%;
}



